.new-collection {
    padding: 20px;
    background-color: #f9f9f9;
    text-align: center;
    
}

.new-collection h1 {
    font-size: 2.5em;
    margin-bottom: 30px;
    color: #333;
}

.collection {
    display: flex;
    flex-wrap: wrap;
    grid-template-columns: repeat(3, 1fr); /* 3 columns per row */
    gap: 15px; /* Slightly reduced space between items */
   
}

.item {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 4px; /* Reduced padding */
    background-color: #fff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    max-width: 200px; /* Reduced card size */
    margin: 0 auto;
    overflow: hidden; /* Ensure overflow is hidden */
   
}

.item img {
    width: 100%;          /* Full width of the card */
    height: 150px;        /* Fixed height for the card */
    object-fit: contain;  /* Ensures the full image fits inside the card */
    border-radius: 5px;   /* Rounded corners */
    transition: transform 0.3s; /* Smooth hover effect */
    margin-bottom: 2px;
}

/* Hover effect on image only */
.item img:hover {
    transform: scale(1.1); /* Zoom in on image hover */
}

.item h3 {
    font-size: 1em; /* Slightly reduced font size */
    margin: 6px 0;
}

.item p {
    font-size: 0.8em; /* Slightly reduced font size */
    margin: 4px 0;
    color: #777;
}

.item-prices {
    display: flex;
    justify-content: center;
    gap: 4px;
    margin: 4px 0;
}

.item-price-new {
    color: #374151;
    font-weight: 600;
}

.item-price-old {
    color: #8c8c8c;
    font-size: 14px; /* Slightly reduced font size */
    font-weight: 500;
    text-decoration: line-through;
}

.item button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 6px 10px; /* Reduced button padding */
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.item button:hover {
    background-color: #218838;
}

/* Adjust the grid to display 3-3-2 layout */
.collection .item:nth-child(7),
.collection .item:nth-child(8) {
    grid-column: span 1; /* Ensure last row has 2 items in separate columns */
}

/* Responsive for smaller screens */
@media (max-width: 768px) {
    .collection {
        grid-template-columns: repeat(2, 1fr); /* 2 columns for tablets */
    }

    .collection .item:nth-child(7),
    .collection .item:nth-child(8) {
        grid-column: span 1; /* Keep each item in its own column for last row */
    }
}

@media (max-width: 480px) {
    .collection {
        grid-template-columns: 1fr; /* 1 column for mobile */
    }
}
