.offers-container {
    width: 100%;
    height: 120vh;
    padding: 100px 0;
    background-color: white;
    margin-top: -80px;
}

/* Offers Section */
.offers {
    width: 100%;
    height: 100vh;
    display: flex;
    margin: 0;
    padding: 70px 180px;
    background: linear-gradient(180deg, rgb(253, 225, 203) 0%, white 60%);
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
}

.offers-left {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.offers-left h1 {
    color: #171717;
    font-size: 70px;
    font-weight: 600;
}

.offers-left p {
    color: #171717;
    font-size: 20px;
    font-weight: 700;
}

/* Button Container */
.offer-button {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Button Styling */
.offers-left button {
    width: 580px !important;
    height: 70px;
    border-radius: 25px;
    border: none;
    background: rgb(231, 170, 96);
    color: white;
    font-size: 22px;
    font-weight: 300;
    margin-top: 30px;
    cursor: pointer;
    max-width: 282px;
}

.offers-right {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    position: relative;
}

/* Image Styling and Animation */
.offers-right img {
    width: 500px;
    height: 800px;
    max-height: 100%;
    margin-top: -150px;
    object-fit: contain;
    position: absolute;
    animation: slideInOut 8s linear infinite; /* Infinite sliding animation */
}

/* Animation keyframes with adjusted path */
@keyframes slideInOut {
    0% {
        transform: translateX(60%); /* Start further off-screen to the right */
    }
    25% {
        transform: translateX(-1%); /* Move closer but keep a distance */
    }
    50% {
        transform: translateX(0%); /* Hold at a safe distance from the button */
    }
    75% {
        transform: translateX(1%); /* Continue holding */
    }
    100% {
        transform: translateX(20%); /* Move back off-screen */
    }
}
